html, body{
    width: 100%;
    height: 100%;
    margin: 5;
    overflow: hidden;
}

#gravity{
    display: block;
    position: relative;
    top: 75px;
    right: 15px;
    transform: rotate(270deg);
    
 }

 #elasticity{
    position: relative;
    top:225px;
    right: 15px;
    transform: rotate(270deg);
 }

 #ballsize{
    position: relative;
    top:375px;
    right: 15px;
    transform: rotate(270deg);
 }

 #ballnum{
    position: relative;
    top:525px;
    right: 15px;
    transform: rotate(270deg);
 }


 .hoverarea{
     position: absolute;
     top: 0;
     right: 0;
     width: 100px;
     height: 100vh;
 }
 .menubar {
    display: none;
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.hoverarea:hover .menubar{
    display:block;
}

.aboutlink {
    position: relative;
    top:700px;
}
.arrows{
    position: relative;
    top:750px;
}

.gravityslider{
    width:10px;
    height:100px;
}


#simulation{
    float:left;
    position:relative;
}